In [1]:
import pandas as pd

In [2]:
user=pd.read_csv('./data/user.csv')

In [3]:
user

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,0,f04e1b175716b9ff46f0f58d14f65cbe,Karen,85,2008-07-13 17:51:38,63,25,45,"2017,2018",4,...,0,0,0,0,1,3,1,1,3,0
1,1,9de9e40b3727c667a5b7c1664aa59a5b,Bobby,376,2010-03-10 23:55:33,1754,1036,1124,"2013,2014,2015,2016,2017,2018",39,...,6,2,2,1,38,77,106,106,52,3
2,2,41a23c92933408a7fd98abed3d3d0071,Michele,244,2011-02-01 01:29:47,435,76,145,NaN,23,...,5,0,1,0,4,13,13,13,9,6
3,3,1e8b87bf395e036ba5eff80e8b47d509,Christopher,267,2011-05-18 23:00:16,1438,767,1157,"2013,2014,2015,2016,2017,2018",49,...,8,2,0,0,39,71,146,146,107,3
4,4,344c541cfca0e120924456e8c8cfd468,Lamiya,55,2012-05-05 19:02:11,71,31,52,NaN,2,...,0,0,0,0,0,3,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,2975,bf35ec4f129ed84d312ecbf271bb3351,Rebecca,56,2011-09-16 19:43:10,23,2,19,NaN,7,...,0,1,0,0,1,1,0,0,0,0
2976,2976,d2c81177bfb08e7209d714e711f5c4c3,Michael,63,2007-07-04 14:56:01,140,59,28,NaN,1,...,1,0,0,0,5,1,0,0,0,0
2977,2977,85339f5231ab001eb302ff2254fd29e5,Cynthia,54,2011-07-01 00:39:55,22,9,6,NaN,1,...,0,0,0,0,0,0,0,0,0,0
2978,2978,7eb178d152614644cf155a5dbae25bf8,Iso,30,2016-01-27 22:17:08,19,7,3,NaN,0,...,1,0,0,0,0,0,0,0,0,0
2979,2979,70504b0537b14048d5058852dc90fdb7,Val,480,2008-06-21 04:09:41,684,256,273,"2015,2016,2017,2018",25,...,1,1,0,0,8,16,13,13,6,2

In [4]:
business=pd.read_csv('./data/business.csv')

In [5]:
business

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,de9d8b06461fa8193081e69d4e3ae345,Apteka,4606 Penn Ave,Pittsburgh,PA,15224,40.465694,-79.949324,4.5,242,1,"{'CoatCheck': 'False', 'BusinessParking': ""{'g...","Nightlife, Bars, Polish, Modern European, Rest...","{'Wednesday': '17:0-0:0', 'Thursday': '17:0-0:..."
1,1,334a85d83ec4545b5b2b4581e5182c47,Nee House Chinese Restaurant,"13843 N Tatum Blvd, Ste 15",Phoenix,AZ,85032,33.613020,-111.977036,3.5,269,1,"{'Caters': 'True', 'GoodForKids': 'True', 'Noi...","Chinese, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
2,2,d39623cbcc490dff7ec1036a4f43a337,Vintage 95,95 W Boston,Chandler,AZ,85225,33.302093,-111.842613,4.0,320,0,"{'OutdoorSeating': 'True', 'HasTV': 'True', 'N...","American (New), Bars, Wine Bars, Nightlife, Re...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
3,3,218d525e3a7223a9e2265c2ea481116d,Served,"1770 W Horizon Ridge, Ste 100",Henderson,NV,89012,36.010745,-115.064803,4.5,664,1,"{'DriveThru': 'False', 'RestaurantsAttire': ""'...","Ethnic Food, American (New), Burgers, Food, Re...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-15:0', '..."
4,4,d5062bde99f4003b7b7ef546c16cf0cc,JJ's Red Hots - Dilworth,1514 East Blvd,Charlotte,NC,28203,35.199798,-80.842295,4.0,380,1,"{'RestaurantsReservations': 'True', 'BusinessA...","Caterers, Hot Dogs, Restaurants, Vegetarian, A...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5959,5959,bfa5e2aab6f787e190082cf76e748203,Naked City Pizza Shop,3240 S Arville St,Las Vegas,NV,89102,36.130804,-115.198971,4.0,576,1,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Pizza, Chicken Wings, Italian, Res...","{'Monday': '12:0-21:0', 'Tuesday': '12:0-21:0'..."
5960,5960,bf46e96044d23cccab27cf4534af2add,Pomo Pizzeria Gilbert,"366 N Gilbert Rd, Ste 106",Gilbert,AZ,85234,33.356542,-111.790019,4.0,337,1,"{'WheelchairAccessible': 'True', 'WiFi': ""u'fr...","Restaurants, Italian, Pizza","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."
5961,5961,921ae754074c121b7aa9523ca7e8b7cd,Greens and Proteins,"8975 S Eastern Ave, Ste 3C",Las Vegas,NV,89123,36.026212,-115.119341,4.0,704,1,"{'Alcohol': ""u'none'"", 'BusinessParking': ""{'g...","Sandwiches, Cafes, Pizza, Vegetarian, Gluten-F...","{'Monday': '9:30-19:30', 'Tuesday': '7:0-22:0'..."
5962,5962,8e350f4ad2441016656c1a5bcf023190,Jessie Rae's BBQ,5611 S Valley View Blvd,Las Vegas,NV,89118,36.087895,-115.190329,4.5,595,1,"{'Caters': 'True', 'RestaurantsTableService': ...","Farmers Market, Caterers, Food, Street Vendors...","{'Monday': '0:0-0:0', 'Tuesday': '11:30-20:30'..."
5963,5963,af0def644bc2376ec11448798fe7baa7,JW Marriott Phoenix Desert Ridge Resort & Spa,5350 E Marriott Dr,Phoenix,AZ,85054,33.683910,-111.966235,4.0,441,1,"{'BusinessAcceptsBitcoin': 'False', 'GoodForKi...","Golf, Hotels, Day Spas, Hotels & Travel, Event...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."